body {
    background-color: cornsilk;
    width: 100%;
}

h1 {
    margin: 5px;
}

mark {
    background-color: yellow;
    padding: 5px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

p {
    text-align: justify;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.container:first-of-type {
    margin-top: 60px;
}

.jumbotron {
    margin: 10px 1%;
    padding: 1px 5px .5%;
}

.left {
    text-align: left;
}

.centered {
    text-align: center;
}


@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        margin-bottom: 1%;
    }

    .container {
        margin: 10px auto;
    }

    .container:first-of-type {
        margin-top: 10px;
    }

    .jumbotron {
        margin-top: 10px;
    }
}