body {
    background-color: cornsilk;
    width: 100%;
}

h1 {
    margin: 5px;
}

mark {
    background-color: yellow;
    padding: 5px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.jumbotron {
    margin: 10% 1%;
    padding: 1px 10px .5%;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        margin-bottom: 1%;
    }

    .jumbotron {
        margin: 0;
    }
}